*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background-color: lightgray;
}

h1{
    color: black;
    text-align: center;
}

.container{
    width: 900px;
    height: 100vh;
}

.container .container-list{

}
